<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.settingtest">

    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>


    <application
        android:name="com.example.settingtest.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.RingSelectActivity"/>

        <activity

            android:name=".activities.SoundActivity"
            />

        <activity
            android:name=".activities.MoreSettingActivity"
             />
        <activity
            android:name=".activities.AboutActivity"
             />
        <activity
            android:name=".activities.AppListActivity"
             />
        <activity
            android:name=".activities.AppsActivity"
           />

        <activity android:name=".activities.AppManageActivity"/>

        <activity android:name=".activities.AppStorageActivity"/>

    </application>

</manifest>